@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.containers{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    inline-size: 768px;
    max-inline-size: 100%;
    min-block-size: 480px;
}

.containers p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.containers span{
    font-size: 12px;
}

.containers a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.containers button{
    background-color:#081621 ;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-block-start: 10px;
    cursor: pointer;
}

.containers button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.containers form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    block-size: 100%;
}

.containers input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    inline-size: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    inset-block-start: 0;
    block-size: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    inset-inline-start: 0;
    inline-size: 50%;
    z-index: 2;
}

.containers.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    inset-inline-start: 0;
    inline-size: 50%;
    opacity: 0;
    z-index: 1;
}

.containers.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    inline-size: 40px;
    block-size: 40px;
}

.toggle-container{
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 50%;
    inline-size: 50%;
    block-size: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.containers.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #081621;
    block-size: 100%;
    background: linear-gradient(to right,#081621,#081621 );
    color: #fff;
    position: relative;
    inset-inline-start: -100%;
    block-size: 100%;
    inline-size: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.containers.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    inline-size: 50%;
    block-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    inset-block-start: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.containers.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    inset-inline-end: 0;
    transform: translateX(0);
}

.containers.active .toggle-right{
    transform: translateX(200%);
}
